# Deep Learning and Neural Networks Course Project by Jonathan Liljegren

## A. Baseline Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
#Check for empty datapoints
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
#Split predictors from what is to be predicted 
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [6]:
#sanity check
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
n_cols = X_train.shape[1]

In [8]:
import keras

Using TensorFlow backend.

In [9]:
from keras.models import Sequential
from keras.layers import Dense

In [10]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
#Train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)

In [13]:
# build the model
model = regression_model()

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [14]:
# train the model
model.fit(X_train, y_train, epochs=50, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 1s - loss: 15039.1414
Epoch 2/50
 - 0s - loss: 1605.6292
Epoch 3/50
 - 0s - loss: 628.3090
Epoch 4/50
 - 0s - loss: 421.9123
Epoch 5/50
 - 0s - loss: 342.0208
Epoch 6/50
 - 0s - loss: 299.0353
Epoch 7/50
 - 0s - loss: 272.6476
Epoch 8/50
 - 0s - loss: 255.5023
Epoch 9/50
 - 0s - loss: 242.6710
Epoch 10/50
 - 0s - loss: 232.8230
Epoch 11/50
 - 0s - loss: 223.0457
Epoch 12/50
 - 0s - loss: 212.0086
Epoch 13/50
 - 0s - loss: 212.2484
Epoch 14/50
 - 0s - loss: 199.2988
Epoch 15/50
 - 0s - loss: 189.6855
Epoch 16/50
 - 0s - loss: 184.6524
Epoch 17/50
 - 0s - loss: 178.0022
Epoch 18/50
 - 0s - loss: 171.0947
Epoch 19/50
 - 0s - loss: 163.9863
Epoch 20/50
 - 0s - loss: 157.9103
Epoch 21/50
 - 0s - loss: 152.2719
Epoch 22/50
 - 0s - loss: 146.8039
Epoch 23/50
 - 0s - loss: 141.4265
Epoch 24/50
 - 0s - loss: 139.0787
Epoch 25/50
 - 0s - loss: 133.6466
Epoch 26/50
 - 0s - loss: 130.5675
Epoch 27/50
 - 0s - loss: 126.4435
Epoch 28/50
 - 0s - loss: 122.2593
Epoch 29/50
 - 0s - loss: 119.0798
Epoch 30/50
 - 0s - loss: 116.5335
Epoch 31/50
 - 0s - loss: 113.3918
Epoch 32/50
 - 0s - loss: 109.6246
Epoch 33/50
 - 0s - loss: 107.0226
Epoch 34/50
 - 0s - loss: 104.5301
Epoch 35/50
 - 0s - loss: 104.1810
Epoch 36/50
 - 0s - loss: 98.3299
Epoch 37/50
 - 0s - loss: 99.2981
Epoch 38/50
 - 0s - loss: 95.1471
Epoch 39/50
 - 0s - loss: 98.2663
Epoch 40/50
 - 0s - loss: 89.3034
Epoch 41/50
 - 0s - loss: 86.9472
Epoch 42/50
 - 0s - loss: 86.5175
Epoch 43/50
 - 0s - loss: 84.6673
Epoch 44/50
 - 0s - loss: 80.1824
Epoch 45/50
 - 0s - loss: 80.9705
Epoch 46/50
 - 0s - loss: 79.2201
Epoch 47/50
 - 0s - loss: 77.7528
Epoch 48/50
 - 0s - loss: 76.8349
Epoch 49/50
 - 0s - loss: 73.4222
Epoch 50/50
 - 0s - loss: 74.1713

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
y_pred = model.predict(X_test)

In [18]:
# calculate the mean squared error
MSE = mean_squared_error(y_test,y_pred)
MSE

80.74011418294154

In [34]:
# create function for running model 50 times and appending MSE to a list
def list_of_MSE(predictors,target,model,epochs):
    list_MSE = []
    for i in range(0,51):
        X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)
        model.fit(X_train, y_train, epochs=epochs, verbose=0)
        y_pred = model.predict(X_test)
        MSE = mean_squared_error(y_test,y_pred)
        list_MSE.append(MSE)
        print(i)
        
    return list_MSE

In [20]:
final_MSE_list = list_of_MSE(predictors,target,model,50)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [21]:
final_MSE_list

[59.66625626979347,
 46.60854263301695,
 45.113152708956065,
 60.54183288314473,
 39.791576162782135,
 39.636452181675615,
 43.796602973698214,
 42.001004353030154,
 43.758547234858035,
 66.4179641360558,
 58.69230000755775,
 36.024159067296715,
 40.191173274873925,
 36.75920522537227,
 36.90376677828661,
 40.687015143538204,
 37.9664519075719,
 43.635794758044845,
 34.76152655090635,
 40.55947772589506,
 39.45148375983126,
 35.6455068988092,
 35.38339570868354,
 34.54135096159693,
 37.24112215896514,
 37.43963177030627,
 34.805472786185554,
 36.42241814088,
 41.415664220773465,
 38.437054847211655,
 34.594399869102055,
 33.39184754797249,
 36.634733652574795,
 35.15356863302168,
 33.8539731635717,
 34.76637773757512,
 33.43966420557099,
 37.79335210323056,
 33.85523031496763,
 34.96083556136327,
 31.97328685635018,
 34.04598195348726,
 32.04836435895207,
 34.249869974598525,
 31.359210795717985,
 36.045718344458884,
 31.53217558655894,
 29.994819388229345,
 31.35389573830189,
 31.29545796944316,
 31.536807234314583]

In [22]:
import sklearn

In [27]:
# calculate mean of list of MSEs
MSE_mean = np.mean(final_MSE_list)
MSE_mean

38.59167596507766

In [29]:
# calculate standard deviation of list of MSEs
MSE_std = np.std(final_MSE_list)
MSE_std

7.710522127521136

## B. Normalize the Data

In [30]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [31]:
final_MSE_normalized = list_of_MSE(predictors_norm,target,model,50)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [32]:
# calculate mean of list of MSEs
MSE_mean_norm = np.mean(final_MSE_normalized)
MSE_mean_norm

32.43558240340643

In [33]:
# calculate standard deviation of list of MSEs
MSE_std_norm = np.std(final_MSE_normalized)
MSE_std_norm

7.534925095138158

#### The model seems to make less errors when the data is normalized in the preprocessing stage

## C. Increase the number of epochs

In [35]:
final_MSE_100_epochs = list_of_MSE(predictors_norm,target,model,100)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [36]:
# calculate mean of list of MSEs
MSE_mean_100 = np.mean(final_MSE_100_epochs)
MSE_mean_100

31.63344395641901

In [37]:
# calculate standard deviation of list of MSEs
MSE_std_100 = np.std(final_MSE_100_epochs)
MSE_std_100

1.0952927499818639

#### There seems to be a significant increase in performance following the change to 100 epochs, which is expected

## D. Increase the number of hidden layers in the NN model

In [38]:
def regression_model_three_hidden():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [39]:
model_three = regression_model_three_hidden()

In [40]:
final_MSE_three_model = list_of_MSE(predictors_norm,target,model_three,50)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [41]:
# calculate mean of list of MSEs
MSE_mean_three_model = np.mean(final_MSE_three_model)
MSE_mean_three_model

23.834362269663735

In [42]:
# calculate standard deviation of list of MSEs
MSE_std_three_model = np.std(final_MSE_three_model)
MSE_std_three_model

3.717898534447955

#### There is a significant performance increase from B. From C. also when it comes to the mean of the MSEs, but there is a greater deviation in the MSEs from C.

### Written by Jonathan Liljegren